@font-face {
    font-family: 'Noto Serif';
    src: url('fonts/NotoSerif-BlackItalic.woff2') format('woff2'),
        url('fonts/NotoSerif-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Serif';
    src: url('fonts/NotoSerif-Bold.woff2') format('woff2'),
        url('fonts/NotoSerif-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Serif';
    src: url('fonts/NotoSerif-Black.woff2') format('woff2'),
        url('fonts/NotoSerif-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Serif';
    src: url('fonts/NotoSerif-Light.woff2') format('woff2'),
        url('fonts/NotoSerif-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Serif';
    src: url('fonts/NotoSerif-Italic.woff2') format('woff2'),
        url('fonts/NotoSerif-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Serif';
    src: url('fonts/NotoSerif-ExtraLight.woff2') format('woff2'),
        url('fonts/NotoSerif-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Serif';
    src: url('fonts/NotoSerif-ExtraBold.woff2') format('woff2'),
        url('fonts/NotoSerif-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Serif';
    src: url('fonts/NotoSerif-BoldItalic.woff2') format('woff2'),
        url('fonts/NotoSerif-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Serif';
    src: url('fonts/NotoSerif-ExtraLightItalic.woff2') format('woff2'),
        url('fonts/NotoSerif-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Serif';
    src: url('fonts/NotoSerif-ExtraBoldItalic.woff2') format('woff2'),
        url('fonts/NotoSerif-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Serif';
    src: url('fonts/NotoSerif-LightItalic.woff2') format('woff2'),
        url('fonts/NotoSerif-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Serif';
    src: url('fonts/NotoSerif-ThinItalic.woff2') format('woff2'),
        url('fonts/NotoSerif-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Serif';
    src: url('fonts/NotoSerif-SemiBoldItalic.woff2') format('woff2'),
        url('fonts/NotoSerif-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Serif';
    src: url('fonts/NotoSerif-MediumItalic.woff2') format('woff2'),
        url('fonts/NotoSerif-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Serif';
    src: url('fonts/NotoSerif-Thin.woff2') format('woff2'),
        url('fonts/NotoSerif-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Serif';
    src: url('fonts/NotoSerif-Regular.woff2') format('woff2'),
        url('fonts/NotoSerif-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Serif';
    src: url('fonts/NotoSerif-Medium.woff2') format('woff2'),
        url('fonts/NotoSerif-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Serif';
    src: url('fonts/NotoSerif-SemiBold.woff2') format('woff2'),
        url('fonts/NotoSerif-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}


*, ul, li, ol{
    margin: 0;
    padding: 0;
    border:0;
    box-sizing: border-box;
    list-style: none;
}
img{line-height: 0;}
a{text-decoration: none;}

body{font-family: 'Poppins', sans-serif;}
main{
    width: 100%;
    float: left;
}
header{width: 100%;
    float: left;
    padding: 20px 0;
    position: absolute;
    top: 0;
    left: 0;z-index: 9;
}
.container{width: 1280px;margin: 0 auto;}

.header-part {
    width: 100%;
    float: left;
    display: flex;
    align-items: center;
}

.left-logo {
    width: 185px;
    float: left;
}
.right-menu {
    width: calc(100% - 185px);
    float: right;
}

.left-logo a {
    width: 100%;
    float: left;
}
.left-logo a img{
    width: 100%;
    float: left;
}


.right-menu nav {
    width: 100%;
    float: left;
}
.right-menu nav ul {
    width: auto;
    float: right;
    display: flex;
    align-items: center;
}

.right-menu nav ul li {
    width: auto;
    float: left;
    margin: 0 20px;
}

.right-menu nav ul li:first-child {
    margin-left:0px;
}
.right-menu nav ul li:last-child {
    margin-right:0px;
}


.right-menu nav ul li a {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    width: 100%;
    float: left;
}



.right-menu nav ul li:last-child a{
    border-radius: 10px;
    border: solid 3px transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(45deg,#00C2E5,#FE9900);
    background-origin: border-box;
    background-clip: content-box, border-box;
    color: #fff;
    padding: 8px 25px;
    width: auto;
    float: right;
    text-align: center;
    z-index: -10;
    text-transform: uppercase;
}




section.banner-main {
    width: 100%;
    float: left;
    padding: 250px 0;
    z-index: -10;
    background: linear-gradient(0deg,hsl(189 78% 45% / 1) 0%, hsl(0deg 0% 37.01%) 100%) !important;
    background: linear-gradient(300deg,hsl(189 78% 45% / 1) 0%, hsl(0deg 0% 37.01%) 100%) !important;
    opacity: 100%;
    z-index: -9;
    position: relative;
    overflow: hidden;
}

.banner-title h1 span {
    color: #00C2E5;
}

.banner-title {
    width: 50%;
    float: left;
}


.banner-title h1 {
    width: 100%;
    float: left;
    color: #fff;
    text-transform: uppercase;
    font-size: 60px;
    line-height: 60px;
/*    font-family: 'Poppins', sans-serif;*/
    font-family: 'Noto Serif';
}
.banner-title p {
    width: 100%;
    float: left;
    color: #fff;
    font-size: 18px;
    line-height: 25px;
    margin: 20px 0 30px 0;
}

.banner-btn {
    width: auto;
    float: left;
}
.banner-btn a{ 
    border: solid 3px transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(45deg,#00C2E5,#FE9900);
    background-origin: border-box;
    background-clip: content-box, border-box;
    color: #fff;
    padding: 8px 25px;
    width: auto;
    float: right;
    text-align: center;
    z-index: -10;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    
}
section.banner-main:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../images/back.svg);
    float: left;
    left: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    z-index: -1;
}
.banner-row .banner-rgt {
    float: right;
    width: 48%;
}
.banner-row .banner-rgt img{
    animation: moveBounce 6s linear infinite;
    width: 100%;
}
@keyframes moveBounce {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(30px);
    }
    100% {
        transform: translateY(0px);
    }
}
canvas#canvas {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(0deg) scale(2) translateY(0%);
    --gradient-color-1: #2C164B; 
    --gradient-color-2: #2b0a63; 
    --gradient-color-3: #240646;  
    --gradient-color-4: #0E0020;
    --gradient-speed: 0.000009;
    opacity: 50%;
}
section.section-power {
    float: left;
    width: 100%;
    padding: 100px 0 50px;
    background-image: linear-gradient(#24445c,#fff);
}
.section-headeing {
    float: left;
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
}
.section-headeing h2 {
    font-size: 56px;
    line-height: 71px;
    font-family: 'Noto Serif';
    font-weight: 900;
    margin-bottom: 20px;
    float: left;
    color: #fff;
    width: 100%;
}
.section-headeing h2 span {
    clear: both;
    float: left;
    /*background-image: linear-gradient(45deg,#ff4087,#ffc056);*/
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(45deg,#00C2E5,#FE9900);
    width: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
}
.section-headeing p {
    float: none;
    width: 767px;
    margin: 0 auto;
    display: inline-block;
    color: #fff;
}
.card-box {
    float: left;
    width: 100%;
    margin-top: 20px;
}
.card-box .home-explain_card {
    float: left;
    width: 100%;
    display: flex;
    align-items: center;
    border: 0.125rem solid #eaecee;
    border-radius: 1rem;
        min-height: 30rem;
        margin-bottom: 30px;
overflow: hidden;
    color: #fff;
    /*background-image: linear-gradient(45deg,#120423,#220643 50%,#4f00b4);*/
    background: linear-gradient(300deg,hsl(189 78% 45% / 1) 0%, hsl(0deg 0% 37.01%) 100%) !important;
}

.card-box  .home-explain_card.is-connect.colour-deff{
    background: #fff !important;
    color: #000 !important;

}


.card-box .home-explain_card .lft-images {
    float: left;
    width: 50%;
    padding: 3rem;
}
.card-box .home-explain_card .lft-images .tagline_component {
    float: left;
    width: 100%;
}
.card-box .home-explain_card .lft-images .tagline_component img {
    width: 25px;
    float: left;
}
.card-box .home-explain_card .lft-images .tagline_component span {
    float: left;
    width: calc(100% - 32px);
    padding-left: 7px;
    font-family: 'Noto Serif';
    font-weight: 700;
}
.card-box .home-explain_card .lft-images .home-explain_content_title {
    float: left;
    width: 100%;
    margin: 10px 0 15px 0;
}
.card-box .home-explain_card .lft-images .home-explain_content_title h3 {
    font-family: 'Noto Serif';
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    float: left;
    width: 100%;
}
.card-box .home-explain_card .lft-images .home-explain_content_body {
    float: left;
    width: 100%;
    margin-bottom: 20px;
}
.card-box .home-explain_card .rgt-contact {
    float: right;
    width: 50%;
    line-height: 0;
}
.card-box .home-explain_card .rgt-contact img {
    width: 100%;
    border-radius: 20px;
}


.home-integrations_image-row {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    flex: none;
    display: flex;
    position: relative;
}

.home-integrations_image-wrap {
    height: 100%;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    display: flex;
    /*position: absolute;*/
    top: 0%;
    bottom: 0%;
     left: -10%; 
    right: 0%;
}

.home-integrations_image-row.row-1 {
    left: 8rem;
}

.home-integrations_image-row {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    flex: none;
    display: flex;
    position: relative;
}
.home-integrations_image-row.row-3 {
    margin-left: 5rem;
}
/*.home-integrations_image-mask {
    width: 70%;
    background-image: linear-gradient(90deg,transparent,#000);
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: auto;
    right: 0%;
}*/

.home-integrations_image-icon.is-empty {
    opacity: .46;
    background-image: radial-gradient(circle at 100%,#fff,#508e99 77%);
    flex: none;
    /*padding: 0.15rem;*/
}

.first-row {
    width: 100%;
    float: left;
}

.first-row img {
    width: 100%;
    float: left;
    box-sizing: border-box;
}

.four-service ul li {
    width: 23%;
    float: left;
    margin-right: 2.6%;
}
.four-service ul li:last-child{
    margin-right: 0%;
}


.home-integrations_image-icon {
    width: 10rem;
    height: 10rem;
    background-color: #fff;
    border-radius: 2rem;
    box-shadow: 0 40px 4rem -1rem rgba(0,0,0,.72);
}


.four-service {
    width: 100%;
    float: left;
}
.four-service ul {
    width: 100%;
    float: left;
}
.four-service .serv-btm-txt{float: left;width: 100%;padding-left: 1rem;padding-right: 1rem;}
.top-title {
    width: 100%;
    float: left;
    display: flex;
    align-items: center;
    margin: 15px 0;
    position: relative;
}


.card-title {
    width: 100%;
    float: left;
}

.card-title h2 {
    width: 100%;
    float: left;
    line-height: 26px;
    font-size: 24px;
    font-family: 'Noto Serif';
    font-weight: 700;
}

section.blog-section {
    width: 100%;
    float: left;
    padding: 50px 0;
}
.card-title p {
    margin-top: 16px;
    width: 100%;
    float: left;
    line-height: 20px;
}
.left-icon {
    width: 24px;
    float: left;
}
.icon-text {
    width: calc(100% - 24px) !important;
    float: left;
}

.card-title a {
    width: 100%;
    float: left;
    margin-top: 20px;
    color: #000 !important;
    font-weight: 600;
    font-size: 18px;
    display: flex;
}
.icon-text h3 {
    padding-left: 10px;
}
.live .left-icon{
    float: left;
    width: 25%;
    margin-top: 0;
    position: absolute;
    left: -23px;
}
.live .icon-text h3{padding-left: 44px;}
.academy-section-title {
    float: left;
    width: 100%;
    text-align: left;
    margin-bottom: 40px;
}
.academy-section-title h2 {
    font-size: 56px;
    line-height: 71px;
    font-family: 'Noto Serif';
    font-weight: 900;
    margin-bottom: 20px;
    float: left;
    width: 100%;
}
.academy-section-title h2 span {
    clear: both;
    float: left;
    /*background-image: linear-gradient(45deg,#ff4087,#ffc056);*/
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(45deg,#00C2E5,#FE9900);
    width: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
}
.academy-section-title p {
    float: none;
    width: 767px;
    margin: 0 auto;
    display: inline-block;
    font-size: 24px;
}
.four-service .serv-btm-txt .card-title p{min-height: 40px;}
.four-service .serv-btm-txt .card-title a svg{width: 24px;margin-left: 9px;}
.four-service .serv-btm-txt .card-title a:hover{
    color: #00C2E5 !important;
}
.serv-img{
    height: 20rem;
    border-radius: 1.5rem;
    position: relative;
    overflow: hidden;
}
.is-doc{background-image: linear-gradient(45deg,#220643,#4f00b4);}
.is-blue{background-image: linear-gradient(#0048b4,#0e1150);}
.is-yellow{background-image: linear-gradient(45deg,#ea6c00,#fdd231);}
.serv-img.is-blue img{    
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    padding-right: 2rem;
    position: absolute;
    top: 3rem;
    bottom: auto;
    left: 0%;
    right: 0%;
}
.serv-img.is-yellow img{
    min-width: 25rem;
    position: absolute;
    top: 3rem;
    bottom: 0%;
    left: 1rem;
    right: auto;
}
.serv-img.is-yellow img.home-learn_card-deco-badge{
        width: 10rem;
    position: absolute;
    top: auto;
    bottom: 2rem;
    right: auto;
    left: auto;
    min-width: auto;
}
.get-support{
    float: left;
    width: 100%;
    padding: 50px 0 100px;
}
.get-support .home-explain_card{
        float: left;
    width: 100%;
    color: #fff;
    background-color: #130425;
    border-radius: 2rem;
    align-self: stretch;
    align-items: center;
    display: flex;
    overflow: hidden;
    /*background: linear-gradient(300deg,hsl(189 78% 45% / 1) 0%, hsl(0deg 0% 37.01%) 100%) !important;*/
}
.get-support .home-explain_card .lft-txt {
    float: left;
    width: 50%;
    padding: 6rem 4rem;
    box-sizing: border-box;
}
.get-support .home-explain_card .lft-txt .tagline_component {
    float: left;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}
.get-support .home-explain_card .lft-txt .tagline_component img {
    float: left;
    width: 22%;
    margin-top: 0;
    position: absolute;
    left: -42px;
}
.get-support .home-explain_card .lft-txt .tagline_component p {
    float: left;
    width: calc(100% - 39px);
    padding-left: 40px;
    font-weight: 700;
    font-size: 1.2rem;
}
.get-support .home-explain_card .lft-txt .tagline_component p span.text-deco{text-decoration: line-through;}
.get-support .home-explain_card .lft-txt .home-explain_content_title {
    float: left;
    width: 100%;
    margin: 15px 0 15px 0;
}
.get-support .home-explain_card .lft-txt .home-explain_content_title h3 {
    font-family: 'Noto Serif';
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    float: left;
    width: 100%;
}
.get-support .home-explain_card .lft-txt .home-explain_content_body {
    float: left;
    width: 100%;
}
.get-support .home-explain_card .lft-txt .home-explain_content_body p{
    float: left;
    width: 100%;
    font-size: 1.2rem;
    line-height: 1.6;
}
.get-support .home-explain_card .lft-txt .home-explain_content_body p span.text-style-muted{
    opacity: .6;
}
.get-support .home-explain_card .rgt-img {
    line-height: 0;
    background: url(../images/630e19b5cb1d58ef69478dc6_support.webp) no-repeat;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    flex: 1;
    align-self: stretch;
}

.testimonial{
    float: left;
    width: 100%;
    padding: 80px 0 0 0;
    text-align: center;
    background: radial-gradient(circle at 50% 35%, hsl(0deg 0% 37.01%),hsl(189.05deg 78.17% 44.9%) 52%);
    color: #fff;
    overflow-x: hidden;
    position: relative;
}
.testimonials_mask{
    z-index: 5;
    height: 30%;
    background-image: linear-gradient(transparent,rgb(94 94 94));
    position: absolute;
    top: auto;
    bottom: 0%;
    left: 0%;
    right: 0%;
}
.testimonial .top-row{float: none;display: inline-block; width: 100%;max-width: 55rem;margin: 0 auto;}
.top-row .testimonial-heading{float: left;width: 100%;margin-bottom: 32px;}
.top-row .testimonial-heading .title-wrap{display: flex;align-items: center;justify-content: center;margin-bottom: 20px;}
.top-row .testimonial-heading h2 {
    font-size: 48px;
    line-height: 1.1;
    font-family: 'Noto Serif';
    font-weight: 900;
    float: left;
    color: #fff;
    width: auto;
    text-transform: uppercase;
}
.top-row .testimonial-heading h2 span {
    clear: both;
    /*float: left;*/
    /*background-image: linear-gradient(45deg,#ff4087,#ffc056);*/
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(45deg,#00C2E5,#FE9900);
    width: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
}
.top-row .testimonial-heading .testimonials_surfy{    
    width: 5rem;
    height: 4rem;
    justify-content: center;
    align-items: center;
    display: flex;
}
.top-row .testimonial-heading .testimonials_surfy #surfylove{width: 100%;}
.top-row .testimonial-heading p{
    float: left;
    width: 100%;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}
.top-row .testimonial-listitem{
    float: left;
    width: 100%;
    max-width: 60rem;
    margin: 0 auto;
    line-height: 0;
}
.top-row .testimonial-listitem ul{float: none;display: inline-block; width: auto;}
.top-row .testimonial-listitem ul li{float: left;width: 56px;margin-right: 16px;line-height: 0;}
.top-row .testimonial-listitem ul li img{width: 100%;line-height: 0;}
.testimonial .testimonial-logo-row{float: none;display: inline-block; width: 100%;max-width: 60rem;margin: 50px auto;color: #fff;filter: invert();}
.testimonial-logo-row ul{float: left;width: 100%;grid-column-gap: 4rem;
    grid-row-gap: 3rem;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    display: flex;
}
.testimonial-logo-row ul li{float: left;width: auto;}
.testimonial-logo-row ul li img{
    max-height: 2rem;
    max-width: 8rem;
    min-height: 1.5rem;
    min-width: 5rem;
    filter: brightness(0%)saturate(0%)brightness(50%);
    object-fit: contain;
}

/*------------testimonial-------------------*/

.testimonials_wrap{
    z-index: 2;
    width: 100%;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    justify-content: flex-start;
    align-items: flex-start;
    display: grid;
    position: relative;
}
.testimonials_wrap .test-first-col{
    z-index: 1;
    width: 100%;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    display: flex;
    position: relative;
}
.testimonials_wrap .testimonial-slider-col{
    grid-area: span 1/span 2/span 1/span 2;
    justify-self: stretch; 
}
.testimonial-col{
    z-index: 1;
    width: 100%;
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
    background-color: rgba(255,255,255,.05);
    border: .0625rem solid rgba(255,255,255,.1);
    border-radius: 1.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    display: flex;
    position: relative;
    box-sizing: border-box;
}
.testimonial-col .testi-content{float: left;width: 100%;}
.testimonial-col .testi-content p{
    font-size: 16px;
    font-weight: 500;
    text-align: left;
}
.testimonial-info{
    width: 100%;
    float: left;
    display: flex;
    align-items: center;
}
.testimonial-info .testimonial-author{float: left;width: 40px;margin-right: 20px;line-height: 0;}
.testimonial-info .testimonial-author img{width: 100%;border-radius: 100%;}
.testimonial-info .author-txt{float: left;width: calc(100% - 60px);}
.testimonial-info .author-name{font-size: 18px;text-align: left;font-weight: 500;}
.testimonial-info .author-bio{font-size: 14px;text-align: left;font-weight: 400;}
.testimonial-slider-col .bottom-slide{
    width: 100%;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
    margin-top: 2rem;
}
.testimonial-slider-col .swiper-slide{
    /*radial-gradient(circle at 50% 35%, hsl(0deg 0% 37.01%),hsl(189.05deg 78.17% 44.9%) 52%)*/
    background-image: linear-gradient(90deg,hsl(0deg 0% 37.01%),hsl(189.05deg 78.17% 44.9%));
    border-radius: 1.5rem;
}
.testimonial-slider-col .swiper-text {
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
    overflow: hidden;
     /*grid-column-gap: 0rem; 
     grid-row-gap: 0rem; 
     color: #fff; 
     border: .0625rem solid rgba(255,255,255,.15); 
     border-radius: 1.5rem; 
     box-shadow: 0 4px .242377rem rgba(0,0,0,.08),0 .625rem .582467rem rgba(0,0,0,.11),0 1.25rem 1.09673rem rgba(0,0,0,.14),0 2.1875rem 1.95638rem rgba(0,0,0,.17),0 4.0625rem 3.6592rem rgba(0,0,0,.2),0 9.8125rem 8.75876rem rgba(0,0,0,.28); */
}
.testimonial-slider-col .swiper-text .testi-content {
    height: auto;
    max-height: 70vh;
    padding: 1.5rem;
    box-sizing: border-box;
}
.testimonial-slider-col .swiper-text .testi-content p{    
    font-size: 19px;
    font-weight: 500;
    text-align: left;
}
.testimonial-slider-col .swiper-text .testimonial-footer {
    width: 100%;
    height: 6rem;
    background-color: rgba(234,236,238,.1);
    border-top: .0625rem solid rgba(255,255,255,.1);
    justify-content: space-between;
    align-items: center;
    display: flex;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    position: relative;
    box-sizing: border-box;
}
/*.testimonial-author {
    width: 100%;
    grid-column-gap: .75rem;
    grid-row-gap: .75rem;
    justify-content: flex-start;
    align-items: center;
    display: flex
}*/
.testimonial-slider-col .testimonial-footer .testimonial-author img{width: 100%;}
.testimonial-slider-col .testimonial-footer .rgt-logo{
    width: 8rem;
    height: 3rem;
    grid-column-gap: 0rem;
    grid-row-gap: 0rem;
    object-fit: contain;
    justify-content: center;
    align-items: center;
    display: flex
}
.testimonial-slider-col .testimonial-footer .rgt-logo img{width: 100%;}
.test-first-col.right-col{
    width: 21rem;
    margin-top: 1rem;
    position: absolute;
    top: 0%;
    bottom: auto;
    left: -23rem;
    right: auto;
    opacity: 0.3;
}
.test-first-col.left-col{
    width: 21rem;
    margin-top: 1rem;
    position: absolute;
    top: 0%;
    bottom: auto;
    left: auto;
    right: -23rem;
    opacity: 0.3;
}

/*-----------------------------------*/

.footer-cta_component{float: left;width: 100%;padding: 100px 0;}
.footer-cta_component .footer-cta_wrap{
    z-index: 500;
    width: 100%;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    color: #fff;
    background-color: #130425;
    background-image: linear-gradient(101deg,rgba(0,0,0,.73),transparent 50%),url(../images/cta-bg.webp);
    background-position: 0 0,50%;
    background-size: auto,cover;
    border-radius: 1.5rem;
    flex-direction: column;
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto;
    padding: 6rem 20% 6rem 8rem;
    display: flex;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
}
.footer-cta_content{float: left;width: 100%;}
.footer-cta_content h2{    
    font-size: 56px;
    line-height: 71px;
    font-family: 'Noto Serif';
    font-weight: 900;
    margin-bottom: 20px;
    float: left;
    width: 100%;
}
.footer-cta_content p{
    float: left;
    width: 100%;
    font-size: 18px;
}
.footer-sec{
    float: left;
    width: 100%;
    background: linear-gradient(300deg,hsl(189 78% 45% / 1) 0%, hsl(0deg 0% 37.01%) 100%);
    /*padding-top: 4rem;
    padding-bottom: 4rem;*/
}
.top-footer{float: left;width: 100%;padding: 100px 0 50px;position: relative;}
.top-footer .footer-wrap{
    float: left;
    width: 100%;
    display: flex;
}
.top-footer .logo-col{
    float: left;
    width: 25%;
    margin-right: 2%;
}
.top-footer .logo-col .footer-logo{float: left;width: 280px;}
.top-footer .logo-col .social-media{float: left;width: 100%;margin: 30px 0;}
.top-footer .logo-col .social-media ul{float: left;width: 100%;}
.top-footer .logo-col .social-media ul li{float: left;line-height: 0;margin-right: 16px;width: 24px;}
.top-footer .logo-col .social-media ul li a{float: left;width: 100%;}
.top-footer .logo-col .social-media ul li a img{width: 100%;}
.top-footer .footer-items-wrap{
    float: left;
    width: 16%;
    margin-right: 3%;
}
.top-footer .footer-items-wrap:last-child{margin-right: 0;}
.top-footer .footer-items-wrap.third-col ul.top-col{margin-bottom: 30px;}
.top-footer .footer-items-wrap h2{
    font-size: 18px;
    line-height: 22px;
    font-family: 'Noto Serif';
    font-weight: 900;
    margin-bottom: 20px;
    float: left;
    width: 100%;
    color: #fff;
}
.top-footer .footer-items-wrap ul{float: left;width: 100%;}
.top-footer .footer-items-wrap ul li{float: left;width: 100%;padding-top: 0.3rem;padding-bottom: 0.3rem;}
.top-footer .footer-items-wrap ul li a{float: left;width: auto;color: #fff;font-size: 14px;}
.top-footer .footer-items-wrap p{float: left;width: 100%;color: #fff;font-size: 14px;}
.bottom-footer{float: left;width: 100%;padding: 30px 0;background-color: rgba(234,236,238,.1);border-top: 0.0625rem solid rgba(255,255,255,.1);
    /*background-image: linear-gradient(300deg,hsl(189 78% 45% / 1) 0%, hsl(0deg 0% 37.01%) 100%);*/}
.bottom-footer .footer-copy-right{float: left;width: 100%;}
.bottom-footer .footer-copy-right p{    
    float: left;
    width: 100%;
    color: #fff;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

/*.career-stand-stempel {
    mix-blend-mode: soft-light;
    top: 0rem;
    right: 5rem;
    transform: rotate(10deg);
    width: 15rem;
    height: 15rem;
    color: #fff;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
}
.career-stand-stempel-text {
    animation: rotate 15s linear infinite;
}
.career-stand-stempel-text {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
}
.stand-stempel-logo {
    width: 40%;
    height: 40%;
    justify-content: center;
    align-items: center;
    display: flex;
}
.stand-stempel-logo img{width: 100%;}
@keyframes rotate{
    100% {
        transform: rotate(-360deg);
    }
}*/