@font-face {
    font-family: 'Noto Serif';
    src: url('NotoSerif-BlackItalic.woff2') format('woff2'),
        url('NotoSerif-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Serif';
    src: url('NotoSerif-Bold.woff2') format('woff2'),
        url('NotoSerif-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Serif';
    src: url('NotoSerif-Black.woff2') format('woff2'),
        url('NotoSerif-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Serif';
    src: url('NotoSerif-Light.woff2') format('woff2'),
        url('NotoSerif-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Serif';
    src: url('NotoSerif-Italic.woff2') format('woff2'),
        url('NotoSerif-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Serif';
    src: url('NotoSerif-ExtraLight.woff2') format('woff2'),
        url('NotoSerif-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Serif';
    src: url('NotoSerif-ExtraBold.woff2') format('woff2'),
        url('NotoSerif-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Serif';
    src: url('NotoSerif-BoldItalic.woff2') format('woff2'),
        url('NotoSerif-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Serif';
    src: url('NotoSerif-ExtraLightItalic.woff2') format('woff2'),
        url('NotoSerif-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Serif';
    src: url('NotoSerif-ExtraBoldItalic.woff2') format('woff2'),
        url('NotoSerif-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Serif';
    src: url('NotoSerif-LightItalic.woff2') format('woff2'),
        url('NotoSerif-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Serif';
    src: url('NotoSerif-ThinItalic.woff2') format('woff2'),
        url('NotoSerif-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Serif';
    src: url('NotoSerif-SemiBoldItalic.woff2') format('woff2'),
        url('NotoSerif-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Serif';
    src: url('NotoSerif-MediumItalic.woff2') format('woff2'),
        url('NotoSerif-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Serif';
    src: url('NotoSerif-Thin.woff2') format('woff2'),
        url('NotoSerif-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Serif';
    src: url('NotoSerif-Regular.woff2') format('woff2'),
        url('NotoSerif-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Serif';
    src: url('NotoSerif-Medium.woff2') format('woff2'),
        url('NotoSerif-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Serif';
    src: url('NotoSerif-SemiBold.woff2') format('woff2'),
        url('NotoSerif-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

